.card {
   max-width: 345px;
}

.media {
    height: 140px;
}

.grid {
    display: flex;
    justify-content: center;
}
.Notfound {
    font-size: 16px;
    padding-top: 25px;
    text-align: center;
}