.paper {
    height: 140px;
    width: 375px;
    display: flex;
    justify-content: flex-start;
    align-items: left;
}

.content {
    padding-left: 10px;
}

.image {
    width: 500px;
    max-width: 140px;
    height: 132px;
    margin: 4px;
    border-radius: 8px;
}

.title {
    text-align: left;
}